<% if (records.length > 0) {%>
  <table class="table">
      <thead>
        <tr>
          <% columns.forEach(column => { %>
            <th><%= h.beautifyString(column)%></th>
          <% }) %>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <% const table = record.constructor.tableName %>
          <tr>
            <% props.forEach(prop => { %>
              <td><%= record[prop] %></td>
            <% }); %>
            <% if (table === 'students') { %>
              <td><a class="normal-link" href="/students/<%= record.id %>/addSubject">Add Subject</a></td>
            <% } %>
            <td>
              <a class="edit-button" href="/<%= table %>/edit/<%= record.id %>">Edit</a>
              <form class="delete-form" action="/<%= table %>/delete/<%= record.id %>?_method=DELETE" method="POST" onsubmit="return confirm('Delete this data?')">
                <input class="delete-button" type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
<% } else { %>
  <p class="message">No teachers data, Please add a new one</p>
<% } %>